/* Variables globales */
:root {
    --base-bgcolor: #354152;
    --base-color: #7e8ba3;
    --base-font-weight: 300;
    --base-font-size: 1rem;
    --base-line-height: 1.5;
    --base-font-family: "Helvetica Neue", sans-serif;
  }
  
  /* Ajustes generales */
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para clases de alineación */
  .align {
    background-color: var(--base-bgcolor);
    color: var(--base-color);
    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-family: var(--base-font-family);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilo para subclases de alineación */
  .align__item--start {
    align-self: flex-start;
  }
  
  .align__item--end {
    align-self: flex-end;
  }
  
  /* Estilos para el sitio */
  .site__main {
    /* Puedes añadir estilos aquí según lo necesites */
  }
  
  .site__logo {
    margin-bottom: 2rem;
  }
  
  /* Estilo para inputs */
  input {
    border: 0;
    font: inherit;
  }
  
  input::placeholder {
    color: var(--base-color);
  }
  
  /* Estilos para formularios */
  .form__field {
    margin-bottom: 1rem;
  }
  
  .form input {
    outline: 0;
    padding: 0.5rem 1rem;
  }
  
  .form input[type="email"],
  .form input[type="password"] {
    width: 100%;
  }
  
  /* Estilo para grids */
  .grid {
    margin: 0 auto;
    max-width: 25rem;
    width: 100%;
  }
  
  /* Estilo para elementos de encabezado */
  h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }
  
  /* Estilo para SVGs */
  svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* Estilo para enlaces */
  .hidden {
    display: none;
  }