#navR{
    display: none;
}



@media only screen and (max-width: 600px) {

    #nav{display: none;}
    /* Estilo para el contenedor de los botones */
    #navR {
        display: flex;
        gap: 15px; /* Espacio entre botones */
        justify-content: flex-start;
    }

    /* Estilo para el enlace dentro de los botones */
    .btn-link {
        text-decoration: none; /* Quitar subrayado */
        color: inherit; /* Usar el color del botón */
    }

    /* Estilo para el botón de Inicio */
    .btn-inicio {
        background-color: #94C973; /* Verde pistacho */
        color: #fff; /* Texto blanco */
        border: none;
        padding: 12px 24px; /* Relleno para mayor tamaño del botón */
        font-size: 16px; /* Tamaño de la fuente */
        font-weight: bold;
        border-radius: 12px; /* Bordes redondeados */
        transition: all 0.3s ease; /* Transición suave */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    /* Efecto hover para el botón de Inicio */
    .btn-inicio:hover {
        background-color: #89b464; /* Verde pistacho más oscuro */
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Mayor sombra */
    }

  
}

 /* Opcional: Estilo para el botón */
 .call-button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.call-button:hover {
    background-color: #45a049; /* Un verde más oscuro para el hover */
}